{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
  <div class="post-card">
    <h1>Login</h1>
    
    {% if form.non_field_errors %}
    <div class="form-error">
      {{ form.non_field_errors|striptags }}
    </div>
    {% endif %}
    <form method="POST">
      {% csrf_token %}
      
      <fieldset>
        <label for=id_username>Username</label>
        {{ form.username }}
        {{ form.username.errors }}

        <label for=id_password>Password</label>
        {{ form.password }}
        {{ form.password.errors }}

        <button type="submit">Login</button>
      </fieldset>

    </form>
  </div>
</div>
{% endblock %}