{% extends "layout.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="container">

  <div class="post-card">

    <h1>Signup</h1>
    {% if form.non_field_errors %}
    <div class="form-error">
      {{ form.non_field_errors|striptags }}
    </div>
    {% endif %}
    <form method="POST">
      {% csrf_token %}
      
      <fieldset>
        <label>Username</label>
        {{ form.username }}
        {{ form.username.errors }}

        <label>Email</label>
        {{ form.email }}
        {{ form.email.errors }}

        <label>Password</label>
        {{ form.password }}
        {{ form.password.errors }}
        
        <label>Confirm Password</label>
        {{ form.confirm_password }}
        {{ form.confirm_password.errors }}

        <button type="submit">Signup</button>
      </fieldset>

    </form>

  </div>

</div>
{% endblock %}