{% extends "layout.html" %}
{% block title %}
  {{ "Create Post" }}
{% endblock %}
{% block content %}
  <h1>Create Post</h1>
  <form method="POST">
    {% csrf_token %}
    <fieldset>
      <legend>Edit Post</legend>
      <label for="title">Title</label>
      <input type="text" name="title" id="title" value="{{ post.title }}"required>
      <br><br>
      <label for="content">Content</label>
      <textarea name="content" id="content" required>{{ post.content }}</textarea>
      <br><br>
      <label for="status">Status</label>
      <select name="status" required id="status">
        <option value="draft" {% if post.status == "draft" %}selected{% endif %}>Draft</option>
        <option value="published" {% if post.status == "published" %}selected{% endif %}>Published</option>
      </select>
      <br><br>
      <button type="submit">Save Changes</button>
    </fieldset>
  </form>
{% endblock %}
